.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	background-color: #2C9BEC!important;
}

span.glyphicon.glyphicon-trash {
	font-size: 15px !important;
}

span.glyphicon.glyphicon-remove.removeSize {
    font-size: 12px !important;
}

.deleteRef {
	min-height: 25px !important; 
	line-height: 1; 
	margin-left: 2cm;
}

summary.heightAdjust {
	min-height: 1cm !important;
    padding-top: 0.2cm !important;
}

div.blackBorder {
	border: 1px solid;
	padding: 15px;
} 

boldFont {
	font-weight: bold;
}

table.ectdTableBorder th, td {
	border: 1px solid #ddd;
}

table.ectdTableBorder th.noBorder, td.noBorder {
	border-top: 0px !important;
	border-right: 0px !important;
	border-bottom: 0px !important;
}
