table#cta-results-table th:nth-child(1) span.sorting-icons,

table#cta-results-table th:nth-child(3) span.sorting-icons,
table#cta-results-table th:nth-child(5) span.sorting-icons
{
    display: none;
}
.modal-larger {
    width: 40%;

}


.legend-override{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 100%;
}